:root {
    --black: #000000;
    --white: #ffffff;
    --neutral-light: #ebebeb;
    --neutral-medium: #d8d9db;
    --neutral-dark: #bbbcbe;
    --color-light: #dfb07e;
    --color-medium: #df974c;
    --color-dark: #dd8d37;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
    background-color: var(--black);
    color: var(--white);
}

.screen {
    text-align: right;
    font-family: "Courier New", 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button {
    background-color: var(--neutral-medium);
    color: var(--black);
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-button:hover {
    background-color: var(--neutral-light);
}

.calc-button:active {
    background-color: var(--neutral-dark);
}

.double {
   flex-basis: 49.7%;
}

.triple {
    flex-basis: 74.8%;
}

.calc-button:last-child {
    background-color: var(--color-medium);
}

.calc-button:last-child:hover {
    background-color: var(--color-light);
}

.calc-button:last-child:active {
    background-color: var(--color-dark);
}