:root {
    --black: #000000;
    --white: #ffffff;
    --neutral-light: #ebebeb;
    --neutral-medium: #d8d9db;
    --neutral-dark: #bbbcbe;
    --color-light: #dfb07e;
    --color-medium: #df974c;
    --color-dark: #dd8d37;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
}